p{
    color: rgb(140, 0, 153);
    font-size: 20px;
    font-family: 'Minecraft', sans-serif;
     
}

body{
    background-color: rgba(0, 0, 0, 0.89);
}

h1{
    color: rgb(129, 1, 204);
    font-size: 40px;
    font-family: 'comic sans MS';
}

div{
    height: 100px;
    width: 200px;
    background-color: blueviolet;

    border: 7px solid rgba(55, 0, 255, 0.712);
}