body{

    background-color: rebeccapurple;
    
}

h1{

    color: aliceblue;
}

.animal{

    border: solid blue;
    border-radius: 5px;
}

.caixa{
    height: 300;
    width: 300;
    border: 5px solid rgb(0, 0, 0);
    padding: 5px;
    color: rgb(0, 119, 255);
    background-color: rgb(31, 29, 29);
    border-radius: 6px;
}

.caixa > div{

    padding: 10px;
    color: rgb(0, 119, 255);
    margin-top: 10px;
    background-color: rgba(0, 0, 0, 0.685);
    border-radius: 10px;
    transition-duration: 0.3s;
}

.caixa > div:hover{
    border: 3px solid white;

}

.caixa > div > div{

    border: 5px solid rgb(0, 0, 0);
    padding: 10px;
    color: rgb(255, 255, 255);
    margin-top: 10px;
    background-color: rgb(111, 0, 255);
    border-radius: 22px;
    transition-duration: 0.8s;
    width: 60%;
}

.caixa > div > div:hover{

     border-radius: 15px;
     background-color: rgb(52, 93, 218);
    border: 5px solid aliceblue;
    width: 75%;
}