<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <nav>
            <a href="#">Home</a>
            <a href="#">Loja</a>
            <a href="#">Contatos</a>
            <a href="#">Log in</a>
            <div class="dropdown">=</div>
        </nav>
    </header>
    
    <div class="area">
    <aside>area lateral</aside>
    <main>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id quam veritatis quisquam facilis nemo, harum sunt reiciendis. Eveniet eaque ea voluptas quos, libero quisquam magni maxime, deleniti ullam molestias aliquid.
    Quis similique magnam neque delectus rem natus vitae. Necessitatibus in repellat et possimus consectetur est, blanditiis minima laboriosam corporis commodi vitae ea molestiae aperiam. Aut voluptatem nihil assumenda optio quia.
    Fugit qui ipsum perferendis nemo sequi dolorem distinctio corrupti numquam impedit labore natus, itaque nobis laudantium unde cum ut deserunt accusantium doloribus asperiores quo. Asperiores fugiat illo laudantium ratione ab?
    Distinctio dicta, nesciunt molestiae hic reprehenderit quae aspernatur natus assumenda, enim fuga aliquid aut perspiciatis dignissimos numquam cumque alias corrupti? Magnam eius quam iure quae voluptatem, aspernatur praesentium modi soluta.
    Perferendis eius praesentium, magni cupiditate quae debitis deserunt, sunt, autem repudiandae unde dolorem porro repellendus illo nihil quisquam. Impedit accusantium, ipsa obcaecati earum delectus placeat odio aspernatur ducimus a fugiat.
    Aliquid recusandae modi quas eos minima earum sint aperiam tempore facere doloremque inventore, totam veniam perspiciatis eaque ea non quis, porro nisi obcaecati? Repellat blanditiis rerum aut, id error soluta!
    Numquam iure quia commodi provident a voluptas quidem minus soluta expedita reprehenderit, ad dicta aliquid, id eum, adipisci laudantium aliquam molestiae. Ipsam qui repellat facere ex voluptas doloribus architecto modi.
    Omnis quae commodi architecto eligendi dolore doloremque officia pariatur tenetur esse dicta possimus quam rem doloribus repudiandae, reiciendis voluptatibus ipsa! Dolorum vitae praesentium quo quisquam iusto possimus a. Voluptas, veniam?z</main>
</div>
    
    

<footer>rodape</footer>
    
</body>
</html>