*{
    margin: 1px;
    font-size: 20px;
    font-family: 'Comic sans MS';
}

body{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

header{
    background-color: rgb(54, 235, 54);
    height: 50px;
}

nav{
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
}

nav > a{
    color:white;
    text-decoration: none;
    padding: 10px;
}

nav > a:hover{
    background-color: black;
    box-shadow: 10px;
}

.dropdown{
    color: white;
    padding: 10px;
    display: none;
}

.dropdown:hover{
    background-color: black;
}

aside{
    background-color: rgb(55, 55, 201);
    width: 350px;
}

main{
    background-color: rgb(243, 32, 32);
    width: 100%;
}

footer{
    background-color: rgb(240, 240, 31);
    height: 70px;
}

.area{
display: flex;
gap: 10px;
}


@media (max-width: 800px){

    aside{
        width: 200px;
    }

}

@media (max-width: 500px){


    aside{
        display: none;
    }

}


@media (max-width: 600px){

    .dropdown{
        display: block;
    }

    nav > a{
        display: none;
    }

}

